<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet"> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <div class="root-container user-container">
      <%= render 'shared/user_info', user: @user %>
      <div class="bio-container">
        <h3>Bio</h3>
        <p class="bio"> <%=@user.bio%> </p>
      </div>
      <div class="posts">
        <% @user.posts.each_with_index do |post, post_no| %>
          <%= render 'shared/post_info', post: post, post_no: post_no %>
        <%end%>
        <button class="btn">See all posts</button>
      </div>
    </div>
  </body>
</html>
