<div class="post">
  <div class="content">
    <h3>Post #<%= post_no+1 %> </h3>
    <p> <%= post.title %> </p>
  </div>
  <div class="comments-likes">
    Comments: <span class="comments-value"> <%= post.comments_counter %></span>, Likes: <span class="likes-value"> <%= post.likes_counter %> </span>
  </div>
</div>
