<div class="user">
  <div class="user-img">
    <img src=<%= user.photo %> alt="User-image">
  </div>
  <div class="user-posts">
    <h1><%= user.name %></h1>
    <p class="posts-amount">Number of posts: <span class="posts-value"><%= user.posts_counter %></span> </p>
  </div>
</div>
