* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.root-container {
  width: 60%;
  margin: 0 auto;
  padding: 3px;
}

.user {
  display: flex;
  margin: 30px 0;
  color: #000;
}

.user-posts,
.comments,
.post {
  background-color: #f9f9f9;
}

.user-posts {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.user-posts:hover {
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0, rgba(27, 31, 35, 0.15) 0 0 0 1px;
}

.posts-amount {
  align-self: flex-end;
}

.user-img {
  width: 30%;
  margin-right: 20px;
}

.user-img img {
  height: 100px;
  width: auto;
}

.bio-container {
  border: 2px solid #000;
  margin-bottom: 10px;
}

.bio {
  margin: 20px 0;
}

.posts,
.posts-comments {
  display: flex;
  flex-direction: column;
}

.posts > * {
  margin-bottom: 10px;
}

.post {
  display: flex;
  flex-direction: column;
  color: #000;
  padding: 5px;
}

.post-comments {
  margin-bottom: 20px;
}

.post-comments:hover,
.post:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
}

.btn {
  background-color: hsl(0, 0%, 89%);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  padding: 8px 15px;
  align-self: center;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.btn:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.btn:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.btn:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.btn:focus {
  outline: 1px transparent;
}

.btn a {
  color: #000;
}

.comments-likes {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.comments {
  padding: 5px;
}

.post-detail-container {
  display: flex;
  flex-direction: column;
}

.post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

.post-detail {
  line-height: 1.4;
  margin-bottom: 12px;
}

.footer {
  text-align: center;
  margin-top: auto;
  padding: 10px 10px 0 10px;
  bottom: 0;
  width: 100%;
  background: hsl(0, 0%, 15%);
  color: hsl(0, 0%, 70%);
}

.add-comment-btn {
  background-color: #36a9ae;
  background-image: linear-gradient(#37adb2, #329ca0);
  border: 1px solid #2a8387;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  margin: 0;
  outline: 0;
  padding: 5px 7px 8px;
  transition: box-shadow 0.05s ease-in-out, opacity 0.05s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.add-comment-btn a {
  color: #fff;
}

.add-comment-btn:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: 0.15s, 0.15s;
}

.add-comment-btn:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.add-comment,
.add-post {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  width: 60%;
  margin: 0 auto;
  padding: 12px;
}

.add-comment textarea,
.add-post textarea {
  border: 1px solid #ccc;
  outline: none;
  margin: 10px 0;
  min-height: 150px;
  padding: 8px 12px;
}

.add-comment input {
  width: min-content;
  align-self: center;
  padding: 8px 12px;
}

.add-post input[type=text] {
  border: 1px solid #ccc;
  outline: none;
  padding: 4px 8px;
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  .root-container {
    width: 100%;
  }
}
